.sub-menu {
    display: none;
    background-color: hsla(0%, 0%, 50%, .2);
    border-radius: .5em;
    margin: 1em 0;
    padding: 1em 0;

    > .item > .link {
        text-decoration: none;
        color: hsla(0%, 0%, 0%, .5);

        &:hover {
            color: hsla(0%, 0%, 0%, 1);
        }
    }

    /// Medium devices (landscape tablets, 768px and up)
    @media only screen and (min-width: 768px) {
        background-color: #fff !important;
        padding: 1em;
        box-shadow: 0px 5px 25px 0px hsla(0%, 0%, 50%, .6);

        > .item > .link {
            text-align: left;
        }
    }
}