.feature-section {
    padding: 3em 1.5em;

    > .title {
        text-align: center;
        color: hsl(208, 49%, 24%);
        margin-bottom: 1.5em;
    }

    /// Small devices (portrait tablets and large phones, 600px and up)
    @media only screen and (min-width: 600px) {
        padding-left: 3em;
        padding-right: 3em;
    }

    /// Medium devices (landscape tablets, 768px and up)
    @media only screen and (min-width: 768px) {
        padding: 4em;

        > .title {
            margin-bottom: 3em;
        }
    }
}

.featurebox {
    > .imagebox {
        margin-bottom: 1.5em;

        > .image {
            margin: 0 auto;
        }
    }

    /// Medium devices (landscape tablets, 768px and up)
    @media only screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        > .contentbox {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        > .imagebox {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            margin-bottom: 0;

            > .image {
                position: absolute;
                width: 45em;
            }
        }
    }

    @media only screen and (min-width: 930px) {
        > .imagebox {
            > .image {
                margin-top: -2.5em;
            }
        }
    }

    @media only screen and (min-width: 992px) {
        > .imagebox {
            > .image {
                margin-top: -4.5em;
            }
        }
    }

    @media only screen and (min-width: 1200px) {
        > .imagebox {
            > .image {
                margin-top: -7.5em;
            }
        }
    }

}

.infobox {
    > .title,
    > .description {
        text-align: center;
    }
    
    > .title {
        color: hsl(208, 49%, 24%);
        margin-bottom: 1em;
    }

    > .description {
        opacity: .7;
    }

    /// Medium devices (landscape tablets, 768px and up)
    @media only screen and (min-width: 768px) {
        > .title,
        > .description {
            text-align: left !important;
        }
    }
}